{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}

<h1>History</h1>

{% if transactions %}
<table style="margin: 0 auto">
    <tr>
      <th>Transaction</th>
      <th>Date/Time</th>
      <th>Symbol</th>
      <th>Shares</th>
      <th>Price</th>
    </tr>
    {% for transaction in transactions %}
      <tr>
        <td>{{ transaction.transaction }}</td>
        <td>{{ transaction.timestamp }}</td>
        <td>{{ transaction.symbol }}</td>
        <td>{{ transaction.shares }}</td>
        <td>${{ transaction.price }}</td>
      </tr>
    {% endfor %}
  </table>
{% else %}
  <p>You have not made any transactions.</p>
{% endif %}

{% endblock %}